* {
  padding: 0;
  margin: 0;
}

body {
background: #141E30;  
background: -webkit-linear-gradient(to right, #243B55, #141E30);  
background: linear-gradient(to right, #243B55, #141E30);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dice {
  background: linear-gradient(to right, #C5796D, #DBE6F6);
  font-size: 190px; 
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 150px;  
  height: 120px;
  padding: 0 0 25px 0;

  color: black;
  border-radius: 12px;
}


.container {
  text-align: center;
}

button {
  background-color: coral;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;

}